/* ========================================
   Blog Pages
======================================== */

h1.title_f1Hy {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600;
}

h2.title_f1Hy {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600;
}

h2.title_f1Hy a {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  text-decoration: none;
}

h3.title_f1Hy {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600;
}

[class^="yearGroupHeading"] {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

/* Component: Container */
html.blog-wrapper .container {
  max-width: var(--ifm-container-width-xl);
  padding-left: var(--ifm-spacing-horizontal) !important;
  padding-right: var(--ifm-spacing-horizontal) !important;
}

/* Component: Read More */
.blog-wrapper .col.text--right {
  text-align: left !important;
}

/* Unbold "Read more" */
a[aria-label^="Read more"] b {
  font-weight: normal;
}

/* Component: Tags */
.col--9 > b {
  display: none;
}

/* ========================================
   Blog Post
======================================== */

article.margin-bottom--xl {
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
  padding-bottom: 3rem; /* space between content and border */
  margin-bottom: 2rem !important; /* space below border */
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

article.margin-bottom--xl:hover {
  box-shadow: none;
  transform: none;
}

/* ========================================
   Blog Post: Card Format
======================================== */


/* article.margin-bottom--xl {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  margin-bottom: 1rem !important;
}

article.margin-bottom--xl:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
} */
